<header>

  <nav class="logo">
	<a href="{% link index.md %}">{{ site.title }}</a>
  </nav>

  <nav class="navigation">
	<!-- in-site navigation -->
	<a href="{% link blog.md %}">blog</a>
	<a href="{% link research.md %}">research</a>
	<a href="{% link teaching.md %}">teaching</a>
	<a href="{% link talks.md %}">talks</a>
	<a href="{% link bio.md %}">bio</a>

	<!-- social icons -->
	<a href="https://github.com/benswift">{% fa_svg fab.fa-github %}</a>
	<a href="https://twitter.com/benswift">{% fa_svg fab.fa-twitter %}</a>
	<a href="https://vimeo.com/benswift">{% fa_svg fab.fa-vimeo %}</a>
	<a href="https://scholar.google.com/citations?user=OQdYgLEAAAAJ">{% fa_svg fas.fa-graduation-cap %}</a>
	<a href="{{ site.baseurl }}/feed.xml">{% fa_svg fas.fa-rss %}</a>
	<a href="mailto:{{ site.email }}">{% fa_svg fas.fa-envelope %}</a>
  </nav>

</header>
