<div class="social-icons">
    <div class="social-icons-right">
        <a class="fa fa-github" href="https://github.com/{{ site.github_username }}"></a>
        <a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a>
        <a class="fa fa-vimeo" href="https://vimeo.com/{{ site.vimeo_username }}"></a>
        <a class="fa fa-graduation-cap" href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}"></a>
        <a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
        <a class="fa fa-envelope" href="mailto:{{ site.email }}"></a>
    </div>
</div>
