@media (min-width: $viewport-small) {

  .site-header {
    font-size: $h3;
  }

  .site-header .site-title {
    float: left;
  }

  .site-header .site-nav {
    float: right;
  }

  blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    text-align: right;
  }
}
