@media (min-width: $viewport-small) {

    .site-header {
        .site-title {
            font-size: $h3;
            float: left;
        }

        .site-nav {
            float: right;
            margin-top: 0;
            a {
                font-size: $h3;
            }
        }
    }

  blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    text-align: right;
  }
}
