@media (min-width: $viewport-small) {

  .site-nav {
    margin-top: 0;
    font-size: $h5;
  }

  .site-header .site-title {
    font-size: $h4;
    float: left;
  }

  .site-header .site-nav {
    float: right;
    font-size: $h5;
    margin-top: .25rem;
  }

  blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    text-align: right;
  }
}
