@import url("https://rsms.me/inter/inter-ui.css");
:root {
  font-family: "Inter UI", sans-serif;
  font-weight: 400;
  font-size: 3vmax;
  line-height: 1.4;
  color: #333;
  background-color: #fafafa; }

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter UI var alt', sans-serif; } }
.slides {
  grid-area: content;
  padding: 0 5vw; }

.pause-overlay {
  display: none; }

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 8vh 90vh 2vh;
  grid-template-areas: "header" "content" "footer"; }

header {
  grid-area: header;
  background-color: #333; }
  header nav.logo {
    margin-bottom: 15px; }
    header nav.logo a {
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: 700;
      color: #fafafa;
      padding: 5vw; }
      header nav.logo a:hover {
        color: #be2edd;
        background-color: #fafafa; }

footer {
  grid-area: footer;
  background-color: #bbb; }
