@charset "UTF-8";
.reveal .slides .error-box h2 { background-color: #f00; color: #ffffff; padding-left: 1em; border: none; }

.reveal .slides .warn-box h2 { background-color: #fc3; color: #ffffff; padding-left: 1em; border: none; }

.reveal .slides .info-box h2 { background-color: #3498db; color: #ffffff; padding-left: 1em; border: none; }

.reveal .slides .success-box h2 { background-color: #2ecc71; color: #ffffff; padding-left: 1em; border: none; }

.reveal .slides .think-box h2 { background-color: #e84393; color: #ffffff; padding-left: 1em; border: none; }

.reveal .slides .talk-box h2 { background-color: #1abc9c; color: #ffffff; padding-left: 1em; border: none; }

.reveal .slides .push-box h2 { background-color: #d35400; color: #ffffff; padding-left: 1em; border: none; }

.reveal .slides .extension-box h2 { background-color: #9b59b6; color: #ffffff; padding-left: 1em; border: none; }

/* fira-sans-100 - latin */
@font-face { font-family: 'Fira Sans'; font-style: normal; font-weight: 100; src: local("Fira Sans Thin"), local("FiraSans-Thin"), url("../fonts/fira-sans-v10-latin-100.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-200italic - latin */
@font-face { font-family: 'Fira Sans'; font-style: italic; font-weight: 200; src: local("Fira Sans ExtraLight Italic"), local("FiraSans-ExtraLightItalic"), url("../fonts/fira-sans-v10-latin-200italic.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-200italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-100italic - latin */
@font-face { font-family: 'Fira Sans'; font-style: italic; font-weight: 100; src: local("Fira Sans Thin Italic"), local("FiraSans-ThinItalic"), url("../fonts/fira-sans-v10-latin-100italic.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-100italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-200 - latin */
@font-face { font-family: 'Fira Sans'; font-style: normal; font-weight: 200; src: local("Fira Sans ExtraLight"), local("FiraSans-ExtraLight"), url("../fonts/fira-sans-v10-latin-200.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-300 - latin */
@font-face { font-family: 'Fira Sans'; font-style: normal; font-weight: 300; src: local("Fira Sans Light"), local("FiraSans-Light"), url("../fonts/fira-sans-v10-latin-300.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-300italic - latin */
@font-face { font-family: 'Fira Sans'; font-style: italic; font-weight: 300; src: local("Fira Sans Light Italic"), local("FiraSans-LightItalic"), url("../fonts/fira-sans-v10-latin-300italic.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-regular - latin */
@font-face { font-family: 'Fira Sans'; font-style: normal; font-weight: 400; src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("../fonts/fira-sans-v10-latin-regular.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-italic - latin */
@font-face { font-family: 'Fira Sans'; font-style: italic; font-weight: 400; src: local("Fira Sans Italic"), local("FiraSans-Italic"), url("../fonts/fira-sans-v10-latin-italic.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-500 - latin */
@font-face { font-family: 'Fira Sans'; font-style: normal; font-weight: 500; src: local("Fira Sans Medium"), local("FiraSans-Medium"), url("../fonts/fira-sans-v10-latin-500.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-500italic - latin */
@font-face { font-family: 'Fira Sans'; font-style: italic; font-weight: 500; src: local("Fira Sans Medium Italic"), local("FiraSans-MediumItalic"), url("../fonts/fira-sans-v10-latin-500italic.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-600 - latin */
@font-face { font-family: 'Fira Sans'; font-style: normal; font-weight: 600; src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url("../fonts/fira-sans-v10-latin-600.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-600italic - latin */
@font-face { font-family: 'Fira Sans'; font-style: italic; font-weight: 600; src: local("Fira Sans SemiBold Italic"), local("FiraSans-SemiBoldItalic"), url("../fonts/fira-sans-v10-latin-600italic.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-600italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-700 - latin */
@font-face { font-family: 'Fira Sans'; font-style: normal; font-weight: 700; src: local("Fira Sans Bold"), local("FiraSans-Bold"), url("../fonts/fira-sans-v10-latin-700.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-700italic - latin */
@font-face { font-family: 'Fira Sans'; font-style: italic; font-weight: 700; src: local("Fira Sans Bold Italic"), local("FiraSans-BoldItalic"), url("../fonts/fira-sans-v10-latin-700italic.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-800 - latin */
@font-face { font-family: 'Fira Sans'; font-style: normal; font-weight: 800; src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("../fonts/fira-sans-v10-latin-800.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-800italic - latin */
@font-face { font-family: 'Fira Sans'; font-style: italic; font-weight: 800; src: local("Fira Sans ExtraBold Italic"), local("FiraSans-ExtraBoldItalic"), url("../fonts/fira-sans-v10-latin-800italic.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-800italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-900 - latin */
@font-face { font-family: 'Fira Sans'; font-style: normal; font-weight: 900; src: local("Fira Sans Black"), local("FiraSans-Black"), url("../fonts/fira-sans-v10-latin-900.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-sans-900italic - latin */
@font-face { font-family: 'Fira Sans'; font-style: italic; font-weight: 900; src: local("Fira Sans Black Italic"), local("FiraSans-BlackItalic"), url("../fonts/fira-sans-v10-latin-900italic.woff2") format("woff2"), url("../fonts/fira-sans-v10-latin-900italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-code-300 - latin */
@font-face { font-family: 'Fira Code'; font-style: normal; font-weight: 300; src: local(""), url("../fonts/fira-code-v7-latin-300.woff2") format("woff2"), url("../fonts/fira-code-v7-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-code-500 - latin */
@font-face { font-family: 'Fira Code'; font-style: normal; font-weight: 500; src: local(""), url("../fonts/fira-code-v7-latin-500.woff2") format("woff2"), url("../fonts/fira-code-v7-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-code-regular - latin */
@font-face { font-family: 'Fira Code'; font-style: normal; font-weight: 400; src: local(""), url("../fonts/fira-code-v7-latin-regular.woff2") format("woff2"), url("../fonts/fira-code-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-code-600 - latin */
@font-face { font-family: 'Fira Code'; font-style: normal; font-weight: 600; src: local(""), url("../fonts/fira-code-v7-latin-600.woff2") format("woff2"), url("../fonts/fira-code-v7-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* fira-code-700 - latin */
@font-face { font-family: 'Fira Code'; font-style: normal; font-weight: 700; src: local(""), url("../fonts/fira-code-v7-latin-700.woff2") format("woff2"), url("../fonts/fira-code-v7-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

:root { font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

:root { background-color: #fafafa; color: #333; font-size: 2.5vw; }

@media (max-aspect-ratio: 2/3) { :root { font-size: 3vh; } }

.reveal .slides section { width: 90vw; padding: 0 5vw; margin-top: 1rem; font-weight: 300; line-height: 1.3; text-align: left; }

.reveal .slides section > * { margin-bottom: 1rem; }

.reveal .slides section em { font-style: italic; }

.reveal .slides section strong { font-weight: 900; }

.reveal .slides section a { color: #793188; text-decoration: none; font-weight: 700; -webkit-transition-property: color, background-color; transition-property: color, background-color; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; }

.reveal .slides section a:hover { color: #fafafa; background-color: #333; }

.reveal .slides section h1 { font-size: 2rem; font-weight: 900; border-bottom-color: #be2edd; border-bottom-style: solid; border-bottom-width: 5px; }

.reveal .slides section h2 { font-size: 1.6rem; font-weight: 900; }

.reveal .slides section[data-background-image] h1, .reveal .slides section[data-background-image] h2, .reveal .slides section[data-background-image] h3, .reveal .slides section[data-background-image] p { background-color: rgba(255, 255, 255, 0.75); display: table; padding: 0.2em 0.4em; }

.reveal .slides section ul, .reveal .slides section ol { padding-left: 1rem; }

.reveal .slides section li { margin-bottom: 0.4rem; }

.reveal .slides section .talk-date { font-style: italic; font-size: 0.8em; color: #777; }

.reveal .slides section .talk-title-navigation { font-size: 1.3em; width: 8em; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.reveal .slides section.impact { font-size: 2rem; text-align: center; color: #fafafa; font-weight: 900; }

.reveal .slides section.impact strong { color: #f39c12; }

.reveal .slides section.impact a { color: #cc5ae4; }

.reveal .slides section code { font-family: "Fira Code", monospace; font-weight: 300; padding: 0.2rem; border-radius: 0.2rem; color: #9e1eba; background: -webkit-gradient(linear, left top, right top, from(#f7e6fb), to(#eec8f6)); background: linear-gradient(to right, #f7e6fb, #eec8f6); }

.reveal .slides section pre > code { color: #fafafa; border: none; background: #282c34; padding: 1em; line-height: 1.2; }

.reveal .slides section blockquote { margin: 0; background-color: #e6e6e6; border-left: 10px solid #ccc; padding: 0.5em 0.5em; quotes: "“" "”" "‘" "’"; }

.reveal .slides section blockquote:before { color: #ccc; content: open-quote; font-size: 3em; line-height: 0.1em; vertical-align: -0.4em; }

.reveal .slides section blockquote p { display: inline; font-style: normal; }

.reveal .slides section table { width: 100%; text-align: left; border-collapse: collapse; }

.reveal .slides section table th, .reveal .slides section table td { padding: 0.5em 1em 0.5em 0; }

.reveal .slides section table thead th { border-bottom: 1px solid #be2edd; vertical-align: bottom; }

.reveal .slides section table tbody th { vertical-align: top; }

.reveal .slides section table td { vertical-align: top; }

.reveal .slides section .image-credit { background-color: rgba(250, 250, 250, 0.7); color: rgba(51, 51, 51, 0.7); padding: 0.5em; margin: 0; font-size: 0.8em; display: table; position: fixed; top: 50vh; /* .image-credit-title { font-style: italic; } */ -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }

.reveal .slides section .image-credit p { background-color: unset; margin: 0.3em; }

.reveal .slides section .image-credit .image-credit-artist { font-weight: 700; }

.reveal .slides section .image-credit .image-credit-year { font-style: italic; }

.reveal .slides section .image-credit a { color: rgba(121, 49, 136, 0.7); }

.reveal .slides section .image-credit a:hover { color: #fafafa; }

.reveal .slides section .image-credit:hover { background-color: #fafafa; color: #333; }

.reveal .slide-number { -webkit-transition-property: background-color; transition-property: background-color; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; }

.reveal .slide-number a { text-decoration: none; font-size: 0.8rem; }

.reveal .slide-number:hover { background-color: #be2edd; }

.reveal .progress { color: #be2edd; height: 0.4rem; }

svg.icon { width: 1em; height: 1em; vertical-align: -0.125em; fill: currentColor; }